# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

Data files
Orders.csv

*
